body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #000000;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #615f5f;
    font-weight: bold;
    font-style: italic;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1)
}
h1, h2 { 
    color: #000000;
    text-align: center;
    border-bottom: 2px solid #E41e1e;
    padding-bottom: 10px;
    font-weight: bold;
    font-style: italic;
}
p {
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    padding: 15px;
    background-color: #e41e1e;
    border-radius: 5px;
}
.recipe-image {
    max-width: 50%;
    height: auto;
    display: block;
    margin: 20px auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.ingredient-list, .steps-list {
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #E41e1e;
}
.ingredient-list li, .steps-list li {
    margin-bottom: 10px;
}